@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --primary: 134 61.4% 40.6%;
    --primary-foreground: 16.67 56.25% 6.27%;

    --card-primary: 0 0% 7.8%;
    --card-secondary: 0 2% 2%;
    --card-background: 0 0% 5%;
    --card-foreground: 0 0% 74.9%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 74.9%;

    --secondary: 0 0% 90.2%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 134 61.4% 40.6% /32;
    --accent-foreground: 0 0% 74.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 100% / 0.15;
    --input: 15.79 17.43% 21.37%;
    --ring: 134 61.4% 40.6%;
    --highlight: 142 59.9% 45.4%;

    --chart-1: 134 61.4% 40.6%;
    --chart-2: 15.85 67.09% 53.53%;
    --chart-3: 15.37 57.89% 40.98%;
    --chart-4: 15.73 58.19% 34.71%;
    --chart-5: 15.71 58.33% 28.24%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 16.67 56.25% 6.27%;

    --primary: 134 61.4% 40.6%;
    --primary-foreground: 16.67 56.25% 6.27%;

    --card: 13.33 100% 98.24%;
    --card-foreground: 16.67 56.25% 6.27%;

    --popover: 0 0% 100%;
    --popover-foreground: 16.67 56.25% 6.27%;

    --secondary: 0 0% 90.2%;
    --secondary-foreground: 0 0% 0%;

    --muted: 15.79 100% 96.27%;
    --muted-foreground: 0 0% 40%;

    --accent: 15.79 100% 96.27%;
    --accent-foreground: 15 58.33% 9.41%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 134 61.4% 40.6%;
    --input: 15.65 26.44% 82.94%;
    --ring: 134 61.4% 40.6%;
    --highlight: 142 59.9% 45.4%;

    --chart-1: 134 61.4% 40.6%;
    --chart-2: 15.85 98.76% 68.43%;
    --chart-3: 15.87 98.37% 75.88%;
    --chart-4: 15.88 98.08% 79.61%;
    --chart-5: 15.53 100% 83.33%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}